*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

p {
  margin-bottom: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Barlow", sans-serif; }

.container {
  padding-left: 0rem;
  padding-right: 0rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0; }
  .header-btn {
    color: #000;
    background-color: #e8eff2;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    transition: all 0.2s; }
    .header-btn:hover, .header-btn:active {
      color: #fff;
      text-decoration: none;
      background-color: #162542;
      scale: 1.05; }

.hero {
  display: flex;
  gap: 7rem; }
  .hero-text {
    align-self: center; }
    .hero-text-heading {
      font-size: 5.5rem;
      font-weight: 900;
      margin-bottom: 2.5rem; }
    .hero-text-paragraph {
      font-size: 1.8rem;
      width: 90%;
      margin-bottom: 3rem;
      color: #7b8bad; }
  .hero-fgroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem; }
    .hero-fgroup-btn {
      color: #fff;
      background-color: #f16718;
      border-radius: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: 1.5rem 2rem;
      transition: all 0.2s; }
      .hero-fgroup-btn:hover, .hero-fgroup-btn:active {
        color: #fff;
        text-decoration: none;
        background-color: #162542;
        scale: 1.05; }
    .hero-fgroup-date {
      color: #7b8bad;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 600; }
  .hero-img img {
    width: 100%;
    border-radius: 2rem; }

.primary {
  display: grid;
  grid-template-columns: 1fr 2fr 1.3fr;
  grid-gap: 2rem;
  margin: 3rem 0; }
  .primary-img-overflow {
    background-color: #f16718;
    border-radius: 2rem; }
  .primary-img-1 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    opacity: 0.15; }
  .primary-img-2 {
    width: 100%;
    height: 100%;
    border-radius: 2rem; }
  .primary-text {
    align-self: center;
    padding: 6rem; }
    .primary-text-heading {
      font-size: 2.5rem;
      font-weight: 900; }
    .primary-text-paragraph {
      font-size: 1.5rem;
      color: #7b8bad; }

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4rem;
  margin: 10rem 0; }
  .features-card-holder {
    background-color: #f16718;
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.7rem;
    margin-bottom: 5rem; }
  .features-card-heading {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 3rem;
    width: 78%; }
  .features-card-text {
    font-size: 1.6rem;
    color: #7b8bad; }
