$color-primary: #f16718;
$color-secondary: #7b8bad;
$color-third: #e8eff2;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Barlow", sans-serif;
}
