.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4rem;
  margin: 10rem 0;

  @media only screen and (max-width: $bp-small) {
    padding: 0 6rem 6rem 6rem;
    margin: 0;
  }

  &-card {
    &-holder {
      background-color: #f16718;
      width: 6.5rem;
      height: 6.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1.7rem;
      margin-bottom: 5rem;

      @media only screen and (max-width: $bp-small) {
        margin: 3rem auto;
      }
    }

    &-heading {
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 3rem;
      width: 78%;

      @media only screen and (max-width: $bp-small) {
        margin: 3rem auto;
        text-align: center;
        width: 40%;
      }
    }

    &-text {
      font-size: 1.6rem;
      color: $color-secondary;

      @media only screen and (max-width: $bp-small) {
        margin: 0 auto;
        text-align: center;
        width: 80%;
      }
    }
  }
}
